<!DOCTYPE html>

<html>
    <head>
        <nav>
    <div class="nav-wrapper">
      <a href="{{url_for('get_recipes')}}" class="brand-logo">Recipes Manager</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{url_for('get_recipes')}}">Home</a></li>
            <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
            <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="{{url_for('get_recipes')}}">Home</a></li>
            <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
            <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
          </ul>
    </div>
  </nav>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Ruge+Boogie&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    </head>
    <body>
      <div class="media">
        <img src="/static/images/images.png" class="responsive-img circle">
      </div>
        <div class="container">
        <h1>RECIPES COOKBOOK</h1>
        <p>"Welcome to Recipes Cookbook, this is an online cookbook database where you can store, access and edit recipes you would
        like to make. Click on the relevant buttons to view and carry out your desired recipe function."</p>
        
        {% block content %}
        {% endblock %}
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">
             $(document).ready(function() {
                $('.collapsible').collapsible();
                $('select').material_select();
                $(".button-collapse").sideNav();
            });
          </script>
    </body>
</html>
