{% extends 'base.html'%}
{% block content %}
        
 
<ul class="collapsible" data-collapsible="accordion">
   {% for recipe in recipes %}
    <li>
      <div class="collapsible-header"><i class="material-icons">cake</i>Recipe Category
      </div>
      <div class="collapsible-body"><span>{{recipe.recipe_category}}</span></span></div>
    </li>
   
    <li>
      <div class="collapsible-header"><i class="material-icons">room_service</i>Recipe Name</div>
      <div class="collapsible-body"><span>{{recipe.recipe_name}}</span></div>
    </li>
    
    <li>
      <div class="collapsible-header"><i class="material-icons">info</i>Ingredients</div>
      <div class="collapsible-body"><span>{{recipe.recipe_ingredients}}</span></div>
    </li>
    
    <li>
      <div class="collapsible-header"><i class="material-icons">shopping_basket</i>Method</div>
      <div class="collapsible-body"><span>{{recipe.recipe_method}}</span></div>
    </li>
    
    <li>
      <div class="collapsible-header"><i class="material-icons">schedule</i>Prep and Cook Time</div>
      <div class="collapsible-body"><span>{{recipe.recipe_prep_and_cook_time}}</span></div>
    </li>
    
    <li>
      <div class="collapsible-header"><i class="material-icons">local_airport</i>Cuisine</div>
      <div class="collapsible-body"><span>{{recipe.cuisine}}</span></div>
    </li>
   {% endfor %}
</ul>
        
{% endblock %}
 